<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Connexion</h3>
                </div>
                <div class="panel-body">
                    <div id="login">
                        <div id="block-login">
                            <form method="post" class="form-horizontal" (ngSubmit)="formSubmit()">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="username">Login</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" type="text" id="username" name="_username" value="" [(ngModel)]="data.username">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="password">Mot de passe</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" type="password" id="password" name="_password" [(ngModel)]="data.password">
                                    </div>
                                </div>

                                <input type="hidden" name="_target_path" value="strong_login">

                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-7">
                                        <input class="btn btn-default btn-primary" type="submit" id="_submit" name="_submit" value="Connexion">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
