<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Chercher un contact par nom:</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-sm-3" style="margin-top: 2%;" for="name">Nom</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" id="name" name="name" value="" [(ngModel)]="search" (blur)="searchByName()">
                    </div>
                </div>
            </div>

            <ul>
                <li *ngFor="let contact of searchContacts">
                    {{contact.name.value}} - {{contact.loginEmail}} - #{{contact.dbId}} <a class="btn btn-primary" (click)="addContact(contact)">Ajouter à mes contacts</a>
                </li>
            </ul>

        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Liste des contacts</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li *ngFor="let contact of contacts">
                        <a class="btn btn-danger btn-xs" (click)="deleteContact(contact)">X</a>&nbsp;{{contact.name.value}}<a class="btn btn-success btn-xs pull-right" (click)="loadConversation(contact)">Chatter !</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-8" *ngIf="conversation != null">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Chat avec {{conversation.name.value}}</h3>
            </div>
            <div class="panel-body" style="overflow:scroll; height: 400px;">
                <div class="pull-right" *ngIf='conversation.messages.length === 0'>Pas encore de message dans cette conversation …</div>
                <hr/>

                <p *ngFor="let message of conversation.messages">
                    {{message.from.name.value}}:<span class="pull-right" style="margin-right:10%">{{message.data}}</span>
                </p>

                <div class="form-group" style="margin-top: 5%;">
                    <label class="control-label col-sm-1" style="margin-top: 1%;" for="message">Écrire</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" id="message" name="message" value="" [(ngModel)]="message" (keydown.enter)="sendMessage()">
                    </div>
                </div>
                <button class="btn btn-success pull-right" (click)="wizz()">Envoyer un Wizz</button>
            </div>
        </div>
    </div>
</div>
