<nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand navbar-logo" href="/">
            <img src="./assets/rainbow.png" alt="Rainbow" width="60" class="img-responsive" />
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav nav-pills pull-right">
            <li><a routerLink="/" routerLinkActive="active">Dashboard</a></li>
            <li><a *ngIf="status == 'disconnected'" routerLink="/login" routerLinkActive="active">Se connecter</a></li>
            <li><a *ngIf="status == 'connected'" routerLink="/contact" routerLinkActive="active">Liste des contacts</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

