<h3>
  Bienvenue sur le fork 2018 d'MSN Messenger, le (feu) meilleur chat de tous les temps quand on était en 2005 environ. Rien que pour les Wizz. RIP la feature.
</h3>

<div class="alert alert-info">
  <h4>How to use : </h4>
  <ul>
    <li>Créer 2 comptes distincts via le CLI, client A et client B.</li>
    <li>Se connecter (bouton en haut à droite) avec chaque client dans un onglet distinct.</li>
    <li>Une fois connecté, vous arriverez sur la liste de contact (vide par défaut).</li>
    <li>Utiliser la recherche pour trouver votre Client B et l'ajouter.</li>
    <li>Une fois ajouté, il apparaît dans la liste de gauche</li>
    <li>Cliquer sur Chatter pour charger la fenêtre de discution, faire pareil avec l'autre client pour voir les messages arrivés</li>
    <li>Vous pouvez commencer à chatter !</li>
    <li>Cliquer sur le bouton "Envoyer un Wizz". Ça sert à rien du tout, mais si vous avez connu le vrai MSN Messenger, ça devrait vous rappeler des souvenirs !</li>
  </ul>
</div>

<div class="alert alert-warning">
  <h4>Voici des points qui pourrait être améliorées :</h4>
  <ul>
    <li>Avant tout, je tiens à m'excuser pour la manière dont c'est coder, qui ne suit probablement pas toutes les bonnes pratiques. <br/>
      C'est mon premier projet from scratch avec Angular, donc j'ai peut-être mal appliqué certains principes/standards/bonnes manières de faire. But hey, it works !</li>
    <li>L'échange de message ne marche pas de manière "logique" selon moi, les 2 pages se rafraichissent exactement en même temps.<br/>
      Pour faire ça vraiment bien selon moi, il aurait fallu que client B écoute l'évènement RAINBOW_ONNEWIMMESSAGERECEIVED et pull la liste des messages dans ce cas là.</li>
    <li>La gestion des contacts n'est pas bonne, y'a une logique qui m'échappe, je n'ai pas tout compris. Je peux ajouter un contact, mais pas en supprimer ?</li>
    <li>Pareil, j'ai pas gérer la notion d'Invitation pour les Contacts.</li>
    <li>Librairies JS et CSS chargées dynamiquement dans le index.html, devrait utiliser Webpack ou autre</li>
    <li>Le design, de manière générale. C'est … austère.</li>
    <li>Pas de sessions implémentées pour le moment. Un F5 qui dérape, et faudra se reconnecter …</li>
    <li>Gérer l'erreur au login, actuellement ça prompt un HTTP Basic Auth ?</li>
  </ul>
</div>

