/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.panel {
    border: solid thin black;
}